//Import variables
@use '../Utils/header_variables' as var;

/*#############################################################*/
/*########################## Header ##########################*/
/*###########################################################*/

.App-header {
  background-color: var.$header_bg_color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: var.$header_font_family;
  text-shadow: var.$header_text_shadow;
}

.logo {
  vertical-align: middle;
}

span {
  color: var.$header_span_color;
}

nav {
  margin-left: auto;
}

ul {
  display: inline;
  list-style-type: none;
}