//Import variables
@use '../Utils/navbar_variables' as var;

/*#############################################################*/
/*########################## Navbar ##########################*/
/*###########################################################*/


* {
    box-sizing: border-box;
    outline: none;
    margin: var.$all__navbar--margin;
    padding: var.$all__navbar--padding;
}

nav ul {
    list-style: none;
}


nav p {
    font-size: var.$navbar__p--font-size;
    display: none;
    transition: var.$nav__p--transition-transform;
}

.navbar {
    display: flex;
    height: var.$navbar--height;
    padding: var.$navbar--padding;
    
}

.navbar__links {
    display: flex;
}

.navbar__link {
    padding: var.$navbar__link--padding;
    display: flex;
    justify-content: center;
}

.navbar__link > a {
    text-decoration: none;
    size: var.$navbar__link__a--size;
}

.navbar__link > a > p {
    color: var.$navbar__link__a__p--color;
}

.navbar__icon {
    margin-right: var.$navbar__icon--margin-right;
    transition: var.$navbar__icon--transition-transform;
}

.burger, .close {
    display: none;
}

//############# Icons ###########//
.white__icon {
    color: var.$white__icon--color;
    filter: var.$white__icon_shadow;
    margin-top: var.$icon__margin-top;
}
.black__icon {
    color: var.$black__icon--color;
    filter: var.$black__icon_shadow;
    margin-top: var.$icon__margin-top;
}
nav img {
    height: var.$nav__img_recommandation--height;
}

//############ Animations ############//
nav p:hover, .navbar__icon:hover {
    -ms-transform: var.$p__icon--hover--ms-transform;
    -webkit-transform: var.$p__icon--hover--webkit-transform;
    transform: var.$p__icon--hover--transform; 
}

//########### Mobile version #########//
@media screen and (max-width:799px) {
    .navbar__links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: var.$navbar__links__mobile--top;
        bottom: var.$navbar__links__mobile--bottom;
        width: var.$navbar__links__mobile--width;
        height: var.$navbar__links__mobile--height;
        right:var.$navbar__links__mobile--right;
        visibility: hidden;
        text-shadow: none;
        border: var.$navbar__links__mobile--border;
        border-radius: var.$navbar__links__mobile--border-radius;
        z-index: var.$navbar__links__mobile--z-index;
        transition: var.$navbar__links__mobile--transition;
        background-color: var.$navbar__links--bg-color;
    }
    
    nav p {
        display: flex;
    }
    
    .navbar__link > a {
        display: block;
        padding: var.$navbar__link__a--padding;
    }
    
    .navbar__link {
        border-top: var.$navbar__link__mobile--border-top;
        font-weight: bold;
        text-transform: uppercase;
    }

    //############ Toggle menu ############//
    .burger {
        display: block;
        position: relative;
        padding: var.$burger__mobile--padding;
        background-color:var.$burger__mobile--bg-color;
        border: none;
        cursor: pointer;
    }
    .show-nav .navbar__links {
        width: var.$show-nav__navbar__links__mobile--width;
        right: var.$show-nav__navbar__links__mobile--right;
        visibility: visible;
    }
    .show-nav .burger__icon, .navbar__icon {
        display: none;
    }

    .show-nav .close, .burger__icon {
        display: block;
    }

    .close {
        background-color: var.$close__mobile--bg-color;
        border: none;
        display: none;
        cursor: pointer;
    }
}


//############## Modes ###############//
// .light-mode {
//     --navbar-color: black;
//     --navbar-bg-color: #e3b04b;
// }

// .dark-mode {
//     --navbar-color: #e3b04b;
//     --navbar-bg-color: black;
// }