.searchbar{
    margin: 20px;
    padding-left: 50px;
    width: 15em;
    height: 2em;
    border-radius: 30px;
    // background-image: url(/client/src/assets/img/glass.png);
    background-position: 4%;
    background-repeat: no-repeat;
    background-size: 1.8em;
    border: none;
}