//Import variables
@use '../Utils/searchbar_variables' as var;

/*#############################################################*/
/*######################### Searchbar #########################*/
/*###########################################################*/

.searchbar{
    margin: var.$searchbar--margin;
    width: var.$searchbar--width;
    height: var.$searchbar--height;
    border-radius: var.$searchbar--border_radius;
    padding-left: var.$searchbar--padding;
    border: none;
    filter: var.$searchbar--shadow;
    font-family: var.$searchbar--font_family;
    font-size: var.$searchbar--font_size;
    @include var.searchbar--bg;
    @include var.mobile-only {
        margin: 6%;        
    }

}