//########## Custom Fonts ##########
//@font-face {
//    font-family: '';
//    src: url('') format('');
//    font-weight: normal;
//    font-style: normal;
//}

//########## Font variables ##########

//########## Shadow variables ##########

//########## Color variables ##########
$footer_bg_color: #e3b04b;

//########## Height variables ##########
$footer_height: 100px;

//########## Width variables ##########
$footer_width: 100%;